name: Build package
run-name: Build ${{ github.event.inputs.pkg_name }}

on:
  workflow_dispatch:
    inputs:
      pkg_name:
        description: "Package name"
        required: true

jobs:
  build-package:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          environment-file: etc/environment.yml
          miniforge-version: latest
          python-version: 3.13

      - name: Build package with conda-build
        run: |
          conda-build "${{ github.event.inputs.pkg_name }}\\recipe"

      - name: Upload to Anaconda
        env:
          ANACONDA_API_TOKEN: ${{ secrets.token }}
        run: |
          $BUILT_PACKAGE=$(conda-build "${{ github.event.inputs.pkg_name }}\\recipe" --output).split("`n")
          anaconda upload --force --user paperchalice @BUILT_PACKAGE
