name: Build package
run-name: Build ${{ inputs.pkg_name }}

on:
  workflow_dispatch:
    inputs:
      pkg_name:
        description: "Package name"
        required: true
  workflow_call:
    inputs:
      pkg_name:
        description: "Package name"
        type: string
        required: true

jobs:
  build-package:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          environment-file: etc/environment.yml
          miniforge-version: latest
          python-version: 3.13
      
      - name: Adjust env for conda-bld
        if: ${{ inputs.pkg_name == 'conda-bld' }}
        run: |
          conda remove conda-bld -y
          conda install conda-build -y

      - name: Build package with conda-build
        run: |
          conda-build "${{ inputs.pkg_name }}\\recipe" --zstd-compression-level=22

      - name: Upload to Anaconda
        env:
          ANACONDA_API_TOKEN: ${{ secrets.token }}
        run: |
          $BUILT_PACKAGE=$(conda-build "${{ inputs.pkg_name }}\\recipe" --output).split("`n")
          anaconda upload --force --user paperchalice @BUILT_PACKAGE
