name: Build package
run-name: Build ${{ inputs.pkg_name }}

on:
  workflow_dispatch:
    inputs:
      pkg_name:
        description: "Package name"
        type: string
        required: true
  workflow_call:
    inputs:
      pkg_name:
        description: "Package name"
        type: string
        required: true

jobs:
  build-package:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          environment-file: etc/environment.yml
          miniforge-version: latest
          python-version: 3.13
      
      - name: Adjust env for rattler-bld
        if: ${{ inputs.pkg_name == 'rattler-bld' }}
        run: |
          mamba remove rattler-bld -y
          mamba install rattler-build -y

      - name: Build package with rattler-build
        run: |
          rattler-build build -r "${{ inputs.pkg_name }}" `
            --experimental `
            --package-format conda:max --allow-symlinks-on-windows

      - name: Upload to Anaconda
        env:
          ANACONDA_API_KEY: ${{ secrets.token }}
          ANACONDA_AUTH_API_KEY: ${{ secrets.token }}
        run: |
          $BUILT_PACKAGE=$(Get-ChildItem ./output/win-64/*.conda)
          foreach ($i in $BUILT_PACKAGE) {
            $name = $i.Name
            $pkg = ($name -split '-')[0..(($name -split '-').Count - 3)] -join '-'
            anaconda remove -f paperchalice/$pkg
          }
          rattler-build upload anaconda --force -o paperchalice @BUILT_PACKAGE
